@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf);
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

:root {
    --black: #2d2d2d;
    --dark-blue: #005499;
    --blue: #0088ed;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 360%;
}

h2 {
    font-size: 200%;
}


/* unvisited link */

a:link {
    color: red;
    text-decoration: none;
}


/* visited link */

a:visited {
    color: green;
}


/* mouse over link */

a:hover {
    color: hotpink;
}


/* selected link */

a:active {
    color: blue;
}