@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf);
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

:root {
    --black: #2d2d2d;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 360%;
}