header {
    display: flex;
    flex-flow: column;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    place-content: center;
    color: white;
    gap: 60px;
    padding: 0 50px;
    text-align: center;
}

header h1 {
    width: 45%;
}

header img {
    width: 150px;
}

header button {
    padding: 15px 75px;
    background-color: white;
    border: 1px solid var(--black);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 250ms;
}

header button:hover {
    background-color: black;
    color: white;
}

.categories {
    padding: 50px 100px 0;
}

.categories>h1,
h4 {
    color: var(--black)
}

.categories-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 50px;
    margin-top: 50px;
}

.categories-container div {
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
    flex-flow: column;
    background-clip: padding-box;
    background-size: cover;
    align-items: flex-start;
    padding: 20px;
    color: white;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.categories-container div:hover:after {
    width: 100%;
}

.categories-container div::after {
    content: '';
    display: flex;
    width: 0%;
    transform: translateY(230px);
    margin: 0 auto;
    height: 4px;
    background: var(--blue);
    transition: 200ms ease-in-out;
}

.growth-plans {
    padding: 50px 100px 550px;
}

.growth-plans-container {
    display: flex;
    height: 500px;
    align-items: flex-end;
    position: absolute;
    left: 0;
    width: calc(100% - 20px);
    transform: translateY(-91px);
    gap: 20px;
    padding: 0 80px;
}

.single-growth-plan {
    display: flex;
    flex-flow: column;
    flex: 1;
    color: white;
    background-color: var(--blue);
    justify-content: space-between;
    transition: 1000ms ease;
    height: 50%;
}

.single-growth-plan .top {
    background-color: var(--dark-blue);
}

.single-growth-plan div {
    padding: 20px;
}

footer {
    padding: 20px;
    border-top: 1px solid black;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

footer a {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer a img {
    height: 50px;
}